table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;

    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.gameInputBtn {
    width: 103%;
    height: 103%;
    margin-left: -1px;
    font-size: 50px;
}

.line {
    /*button.className += " line"*/
    text-decoration: line-through;
}

button:disabled {
    color: black;
}

#reset {

}